@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");
:root {
  --color-accent: hsl(61, 70%, 52%);
  --color-error: hsl(4, 69%, 50%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(202, 86%, 94%);
  --color-neutral-300: hsl(203, 41%, 72%);
  --color-neutral-500: hsl(200, 26%, 54%);
  --color-neutral-700: hsl(200, 24%, 40%);
  --color-neutral-900: hsl(202, 55%, 16%);
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --medium: 500;
  --spacing: 0.4rem; /* 4px*/
}
